<!DOCTYPE html>
<html>
<head>
    <title>Flask Task 1</title>
    <style>
        body {
            font-family: Arial;
            background: linear-gradient(to right, #667eea, #764ba2);
            color: white;
            text-align: center;
            padding-top: 100px;
        }
        .box {
            background: rgba(0,0,0,0.3);
            padding: 30px;
            width: 50%;
            margin: auto;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Flask Task 1</h1>
        <h2>Hello {{ name }} </h2>
        <h3>Upper Case: {{ upper_name }}</h3>
        <h3>Reversed Name: {{ reversed_name }}</h3>
        <h3>Name Length: {{ name_length }} characters</h3>
    </div>
</body>
</html>
